[Unit]
Description=cec-dpms for CEC adapter %f
Documentation=https://github.com/manio/cec-dpms
After=local-fs.target

[Service]
Restart=always
ExecStart=/usr/bin/cec-dpms --input %f

[Install]
WantedBy=multi-user.target
